In [7]:
import pandas as pd
import scipy.stats as st
import matplotlib.pyplot as plt
from pathlib import Path

shootings_data = Path("Resources/shooting_1982-2023_cleaned.csv")

shootings_data_df = pd.read_csv(shootings_data)
shootings_data_df.head()

,case,location,date,summary,fatalities,injured,total_victims,location.1,age_of_shooter,prior_signs_mental_health_issues,...,year,quarter,half,month_name,day_of_week,age_group,decade,name,current_age,description
0,Nashville religious school shooting,"Nashville, TN",2023-03-27,"Audrey Hale, 28, who was a former student at t...",6,1,6,School,28,Unclear,...,2023,1,1,March,Monday,Early Adulthood,2020's,Audrey Hale,28,who was a former student at the private Coven...
1,Michigan State University shooting,"East Lansing, Michigan",2023-02-13,"Anthony D. McRae, 43, opened fire at Berkey Ha...",3,5,8,School,43,Unclear,...,2023,1,1,February,Monday,Middle Adulthood,2020's,Anthony D. McRae,43,opened fire at Berkey Hall and the MSU union
2,Half Moon Bay spree shooting,"Half Moon Bay, California",2023-01-23,"Chunli Zhao, 67, suspected of carrying out the...",7,1,8,Workplace,67,Unclear,...,2023,1,1,January,Monday,Old Age,2020's,Chunli Zhao,67,suspected of carrying out the attacks at a mu...
3,LA dance studio mass shooting,"Monterey Park, California",2023-01-21,"Huu Can Tran, 72, fled the scene in a white va...",11,10,21,Other,72,Yes,...,2023,1,1,January,Saturday,Old Age,2020's,Huu Can Tran,72,fled the scene in a white van and later shot ...
4,Virginia Walmart shooting,"Chesapeake, Virginia",2022-11-22,"Andre Bing, 31, who worked as a supervisor at ...",6,6,12,Workplace,31,Unclear,...,2022,4,2,November,Tuesday,Early Adulthood,2020's,Andre Bing,31,who worked as a supervisor at the store

In [11]:
reduced_shootings_df = shootings_data_df[["case", "location", "date", "total_victims", "location.1", "weapons_obtained_legally", "weapon_type", "weapon_details", "latitude", "longitude", "decade" ]]

reduced_shootings_df.head()

,case,location,date,total_victims,location.1,weapons_obtained_legally,weapon_type,weapon_details,latitude,longitude,decade
0,Nashville religious school shooting,"Nashville, TN",2023-03-27,6,School,Unknown,"semiautomatic rifle, semiautomatic handgun",-,36.162664,-86.781602,2020's
1,Michigan State University shooting,"East Lansing, Michigan",2023-02-13,8,School,Yes,semiautomatic handguns,-,42.736979,-84.483865,2020's
2,Half Moon Bay spree shooting,"Half Moon Bay, California",2023-01-23,8,Workplace,Unknown,semiautomatic handgun,-,37.463552,-122.428586,2020's
3,LA dance studio mass shooting,"Monterey Park, California",2023-01-21,21,Other,Unknown,semiautomatic assault weapon (Details pending),-,34.062511,-118.122848,2020's
4,Virginia Walmart shooting,"Chesapeake, Virginia",2022-11-22,12,Workplace,Unknown,semiautomatic handgun,-,36.768209,-76.287493,2020's

In [15]:
reduced_shootings_df.tail()

,case,location,date,total_victims,location.1,weapons_obtained_legally,weapon_type,weapon_details,latitude,longitude,decade
136,Shopping centers spree killings,"Palm Bay, Florida",1987-04-23,20,Other,Yes,"One rifle, one revolver, one shotgun","Sturm, Ruger Mini-14 semiautomatic rifle; 20-g...",28.033189,-80.642970,1980's
137,United States Postal Service shooting,"Edmond, Oklahoma",1986-08-20,21,Workplace,Yes,Three semiautomatic handguns,".22-caliber, two .45-caliber Colt Model 1911-A...",35.667201,-97.429370,1980's
138,San Ysidro McDonald's massacre,"San Ysidro, California",1984-07-18,41,Other,Yes,"One semiautomatic handgun, one rifle (assault)...",9mm Browning P35 Hi-Power semiautomatic handgu...,32.552001,-117.043081,1980's
139,Dallas nightclub shooting,"Dallas, Texas",1984-06-29,7,Other,No,One semiautomatic handgun,9mm Smith & Wesson 459 semiautomatic handgun,32.925166,-96.838676,1980's
140,Welding shop shooting,"Miami, Florida",1982-08-20,11,Other,Yes,One shotgun,Mossberg 500 Persuader pump-action shotgun wit...,25.796491,-80.226683,1980's

In [18]:
reduced_shootings_df.describe()

       total_victims    latitude   longitude
count     141.000000  141.000000  141.000000
mean       19.049645   37.400822  -96.205593
std        51.737569    5.441899   17.642771
min         3.000000   21.320063 -157.876462
25%         6.000000   33.850116 -117.043081
50%        10.000000   38.135992  -88.902892
75%        17.000000   41.412323  -81.376777
max       604.000000   48.461367  -71.075913

In [20]:
unique = reduced_shootings_df["weapon_type"].unique()
unique

array(['semiautomatic rifle, semiautomatic handgun',
       'semiautomatic handguns', 'semiautomatic handgun',
       'semiautomatic assault weapon (Details pending)',
       'semiautomatic rifle; semiautomatic handgun',
       'semiautomatic pistol', 'shotgun, semiautomatic handgun',
       'semiautomatic rifles; semiautomatic handgun',
       'semiautomatic rifle', 'semiautomatic rifles',
       'semiautomatic rifle, semiautomatic handgun; tactical vest',
       'semiautomatic rifle; shotgun; semiautomatic handguns',
       '2 handguns', 'handgun',
       'semiautomatic rifle; semiautomatic handguns', 'shotgun',
       'shotgun; .38 revolver', 'semiautomatic rifle; shotgun',
       'semiautomatic rifle and semiautomatic handgun',
       '23 firearms, mostly rifles; including scopes, and two modified for "fully automatic" firing; two were mounted on tripods',
       'two handguns', 'shotguns', 'handgun, shotgun',
       'semiautomatic handgun\n', 'Rifle',
       'Two semiautomatic rifles; one semiautomatic handgun',
       'Semiautomatic rifle, semiautomatic handguns',
       'Semiautomatic rifle, semiautomatic handgun',
       'Semiautomatic handgun',
       "Two assault rifles and two semi-automatic pistols were used in the attack. Police found a remote controlled explosive device at the scene of the crime. At the home were 12 pipe bombs, 2,500 rounds for the AR-15 variants, 2,000 rounds for the pistols, and several hundred for a .22 calibre rifle. In the suspects' car were an additional 1,400 rounds for the rifles and 200 for the handguns.",
       'Two handguns and a rifle',
       'Five pistols, one rifle, five magazines of ammunition',
       '2 assault rifles; semiautomatic handgun\n', 'Handgun',
       'Two handguns\n',
       'Three semi-automatic handguns and two hunting knives',
       'handgun\n', 'Two handguns and a butcher knife',
       'Sawed-off shotgun, 2 boxes of shells; also a .45-caliber handgun taken from a security guard he shot at the scene.',
       '9mm semi-automatic handgun',
       'Assault rifle, high capacity magazines, antique handgun\n',
       'Semiautomatic handgun, shotgun', 'Shotgun',
       'Two semiautomatic handguns, one rifle (assault), one shotgun (assault)',
       'One semiautomatic handgun',
       'Two semiautomatic handguns, one rifle (assault), one shotgun',
       'Two semiautomatic handguns',
       'Two semiautomatic handguns, one revolver',
       'Two rifles (both assault), one revolver',
       'One revolver, one shotgun',
       'Three semiautomatic handguns, one shotgun',
       'One semiautomatic handgun, one revolver', 'One rifle (assault)',
       'One semiautomatic handgun, one rifle, one shotgun',
       'Two semiautomatic handguns, one shotgun',
       'One semiautomatic handgun, two rifles, one derringer, one shotgun',
       'Two rifles, one revolver, one shotgun',
       'One semiautomatic handgun, one rifle (assault), one shotgun',
       'Three semiautomatic handguns, one revolver',
       'One semiautomatic handgun (assault), one rifle (assault), two shotguns',
       'Two semiautomatic handguns, one rifle',
       'Two semiautomatic handguns, two rifles, three revolvers, two derringers',
       'One rifle, two shotguns',
       'Three semiautomatic handguns (two assault)',
       'One rifle, one shotgun', 'One rifle', 'One revolver',
       'One rifle, one revolver',
       'Three semiautomatic handguns (two assault), one rifle (assault), one revolver',
       'One semiautomatic handgun, one rifle (assault)',
       'Two semiautomatic handguns, one rifle, two revolvers, two shotguns',
       'One rifle, one revolver, one shotgun',
       'Three semiautomatic handguns', 'One shotgun'], dtype=object)

In [32]:
count = reduced_shootings_df["location.1"].value_counts()
count

Other        53
Workplace    51
School       22
Religious     8
Military      6
Airport       1
Name: location.1, dtype: int64

In [33]:
count = reduced_shootings_df["decade"].value_counts()
count

2010's    66
2020's    24
1990's    23
2000's    20
1980's     8
Name: decade, dtype: int64