In [1]:
import pandas as pd
import scipy.stats as st
import matplotlib.pyplot as plt
from pathlib import Path

df = pd.read_table('resources/38482-0001-Data.tsv')
print(df)

         DATE  YEAR         STATE           CITY  PUBLIC  PRIVATE  FAMILY  \
0    JAN-1980  1980      Illinois        Chicago       1        0       0
1    JAN-1980  1980       Indiana     Evansville       0        1       0
2    FEB-1980  1980         Texas        El Paso       1        0       0
3    MAR-1980  1980       Florida          Miami       0        1       0
4    APR-1980  1980      New York         Selden       1        0       0
..        ...   ...           ...            ...     ...      ...     ...
714  OCT-2018  2018     Tennessee       Columbia       0        1       1
715  OCT-2018  2018  Pennsylvania     Pittsburgh       1        0       0
716  NOV-2018  2018    California  Thousand Oaks       1        0       0
717  NOV-2018  2018  Pennsylvania   Philadelphia       0        1       0
718  DEC-2018  2018      Missouri  Saint Charles       0        1       1

     FELONY  NON_STRANGER  NUMBER_LOCATIONS  ...  SHOOTING_RURAL  \
0         1             0                 2  ...               0
1         1             0                 1  ...               0
2         0             0                 1  ...               0
3         1             0                 1  ...               0
4         1             0                 2  ...               1
..      ...           ...               ...  ...             ...
714       0             0                 1  ...               1
715       0             0                 1  ...               0
716       0             0                 1  ...               0
717       1             0                 1  ...               0
718       0             0                 1  ...               0

     SHOOTING_SUBURBAN  SHOOTING_URBAN  OFFICIAL_RECORDS  NEWS_ARTICLES_ORD  \
0                    0               1                 1                  3
1                    0               1                 1                  5
2                    0               1                 1                  5
3                    0               1                 1                  2
4                    0               0                 1                  1
..                 ...             ...               ...                ...
714                  0               0                 0                  4
715                  1               0                 1                  5
716                  0               1                 0                  5
717                  0               1                 0                  2
718                  1               0                 0                  4

     NEWS_MULTISTATE  NEWS_NYT  NEWS_LATIMES  NEWS_WAPOST  NEWS_CHICAGOTRIB
0                  1         0             0            0                 1
1                  1         1             0            0                 1
2                  1         1             1            0                 1
3                  1         1             0            0                 0
4                  0         1             0            0                 0
..               ...       ...           ...          ...               ...
714                0         0             0            0                 0
715                1         1             1            1                 1
716                1         1             1            1                 1
717                1         0             0            0                 0
718                1         0             1            0                 0

[719 rows x 89 columns]

In [7]:
data = df.replace('\t', ',')
data

,DATE,YEAR,STATE,CITY,PUBLIC,PRIVATE,FAMILY,FELONY,NON_STRANGER,NUMBER_LOCATIONS,...,SHOOTING_RURAL,SHOOTING_SUBURBAN,SHOOTING_URBAN,OFFICIAL_RECORDS,NEWS_ARTICLES_ORD,NEWS_MULTISTATE,NEWS_NYT,NEWS_LATIMES,NEWS_WAPOST,NEWS_CHICAGOTRIB
0,JAN-1980,1980,Illinois,Chicago,1,0,0,1,0,2,...,0,0,1,1,3,1,0,0,0,1
1,JAN-1980,1980,Indiana,Evansville,0,1,0,1,0,1,...,0,0,1,1,5,1,1,0,0,1
2,FEB-1980,1980,Texas,El Paso,1,0,0,0,0,1,...,0,0,1,1,5,1,1,1,0,1
3,MAR-1980,1980,Florida,Miami,0,1,0,1,0,1,...,0,0,1,1,2,1,1,0,0,0
4,APR-1980,1980,New York,Selden,1,0,0,1,0,2,...,1,0,0,1,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
714,OCT-2018,2018,Tennessee,Columbia,0,1,1,0,0,1,...,1,0,0,0,4,0,0,0,0,0
715,OCT-2018,2018,Pennsylvania,Pittsburgh,1,0,0,0,0,1,...,0,1,0,1,5,1,1,1,1,1
716,NOV-2018,2018,California,Thousand Oaks,1,0,0,0,0,1,...,0,0,1,0,5,1,1,1,1,1
717,NOV-2018,2018,Pennsylvania,Philadelphia,0,1,0,1,0,1,...,0,0,1,0,2,1,0,0,0,0
718,DEC-2018,2018,Missouri,Saint Charles,0,1,1,0,0,1,...,0,1,0,0,4,1,0,1,0,0

In [8]:
year_data_df = pd.DataFrame(data)

year_data_df.count()

DATE                719
YEAR                719
STATE               719
CITY                719
PUBLIC              719
                   ...
NEWS_MULTISTATE     719
NEWS_NYT            719
NEWS_LATIMES        719
NEWS_WAPOST         719
NEWS_CHICAGOTRIB    719
Length: 89, dtype: int64

In [10]:
year_data_df.to_csv("Resources/year_data.csv", index_label="year_ID")